.grid {
	display: grid;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	grid-column-template: 8px;
	grid-row-template: 8px;
	grid-gap: 10px;
	background-color: LIGHTGREY;
}

h1 {
	font-family: 'Squada One', cursive;
	padding: 5px;
	background-color: DARKCYAN;
	font-size: 36px;
}

h2 {
	font-family: Arial;
	font-size: 24px;
}

h3 {
	font-family: Arial;
	font-size: 24px;
}

h4 { 
    font-family: Arial;
	font-size: 24px;
}


.resumeimg {
	float: right;
	width: 40%;
	height: 40%;
}

.aboutimg {
	float: right;
	width: 40%;
	height: 40%;
}

.aboutrefimg {
	width: 50%;
	height: 50%;
}

.header {
	background-color: CYAN;
	border-bottom: 10px solid DARKCYAN;
	grid-column: 1 / 8;
	grid-row: 1 / 2;
}

.nav {
	background-color: CYAN;
	grid-column: 1 / 1;
	grid-row: 2 / 6;
}

.nav ul {
	list-style-type: none;
	padding-right: 40px;
	text-align: center;
}

.nav li {
	background-color: DARKCYAN;
	border: 2px solid blue;
	padding-right: 10px;
}

.nav a {
	text-decoration: none;
	color: LIGHTCYAN;
}

.footer {
	background-color: CYAN;
	grid-column: 1 / 8;
	grid-row: 6 / 8;
}

.main {
	background-color: LIGHTCYAN;
	padding-left: 10px;
	grid-column: 2 / 8;
	grid-row: 2 / 6;
}

.maintitles {
	font-family: Helvetica;
	font-size: 22px;
	text-decoration: underline;
}

.maintext {
	font-family: Helvetica;
	font-size: 14px;
	padding-left: 25px;
	line-height: 20px;
}

.job {
	font-family: Helvetica;
	font-size: 16px;
	padding-left: 15px;
	font-weight: bold;
}

	